@import './partials/colors';
@import './partials/fonts';
@import './partials/settings';
@import './partials/typography';
@import './partials/breadcrumbs';
@import './partials/cart-content';
@import './partials/product';
@import './partials/order';
@import './partials/checkbox';
@import './partials/buttons';
@import './partials/footer';
@import './partials/header';
@import './partials/sliders';
@import './partials/products';
@import './partials/preloader';
@import './partials/validate';

body {
    background: $background;
    color: $onSurface;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.error {
    background: transparentize($primary, 0.8);
}

.e404,
.e404-text {
    font-weight: 800;
}

.e404 {
    color: $primary;
    font-size: 80px;
}

.main-container {
    max-width: 1205px;
    width: 100%;
    margin: 0 auto;
}
