<div class="row d-flex cart-content__title">
    <h1 class="col-2 cart-title__text">Cart</h1>
    {{{counter}}}
</div>
<div class="row col-9 cart-content__remove-selected d-flex justify-content-between {{coontentIsHide}}">
    {{{navigation}}}
</div>
<div class="row cart-content__products">
    <ul class="col-9 cart-products">
        {{{products}}}
    </ul>
    <div class="col-3 cart-total {{coontentIsHide}}">{{{total}}}</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-confirm-promo">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apply promocode</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">You really want to confirm the promotional code <b></b>?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn cart-modal__confirm">Confirm</button>
            </div>
        </div>
    </div>
</div>
