$background: #f4f4f2;
$onBackground: #291e0f;
$surface: #ffffff;
$onSurface: #414141;
$primary: #ff6633;
$onPrimary: #ffffff;
$secondary: #70c05b;
$onSecondary: #ffffff;
$background_app: #fbf8ec;
$preloaderBg: #fcd5ba;

$lightest: #f3f2f1;
$light: #bfbfbf;
$hard: #8f8f8f;
$hardest: #606060;

$success: #008c49;
$info: #1cb9fc;
$warning: #fca21c;
$error: #d80000;
