$background: #F4F4F2;
$onBackground: #291E0F;
$surface: #FFFFFF;
$onSurface: #414141;
$primary: #FF6633;
$onPrimary: #FFFFFF;
$secondary: #70C05B;
$onSecondary: #FFFFFF;

$lightest: #F3F2F1;
$light: #BFBFBF;
$hard: #8F8F8F;
$hardest: #606060;

$success: #008C49;
$info: #1CB9FC;
$warning: #FCA21C;
$error: #D80000;