.confirm {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($light, 0.4);
    opacity: 0;
    transition: all 0.3s ease-out;

    &__window {
        background-color: white;
        border-radius: 10px;
        max-width: 540px;
        height: auto;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px 30px;
    }

    &.show {
        opacity: 1;
    }

    &__nav {
        margin-top: 25px;
    }

    &__cancel,
    &__apply {
        background-color: $light;
        color: $onSurface;
        height: 40px;
        border-radius: 15px;
        border: 0;
        padding: 10px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }

    &__apply {
        background-color: $primary;
        color: white;
        margin-left: 40px;
    }

    &__close {
        width: 15px;
        height: 15px;
        display: inline-block;
        position: absolute;
        top: 25px;
        right: 30px;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: -1px;
            width: 15px;
            height: 1px;
            background-color: $onSurface;
            transform: rotate(45deg);
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: -1px;
            width: 15px;
            height: 1px;
            background-color: $onSurface;
            transform: rotate(-45deg);
        }
    }
}
