@import './colors';
@import './typography';

.footer {
    height: 150px;
    background: #F9F4E2;
}

.rsschool {
    height: 32px;
    width: 85px;
    background: url('../img/rs_school_js.svg') no-repeat;
    background-size: 100%;
}

.github-logo {
    height: 35px;
    width: 35px;
    background: url('../img/github.svg') no-repeat;
    background-size: 100%;
}

.github-text {
    margin-left: 10px;
    a,
    a:hover {
        color: $onSurface;
    }
}

.designed::before {
    content: '©';
}

.zasovskiy {
    height: 10px;
    width: 100px;
    background: url('../img/logo-zasovskiy.svg') no-repeat;
    background-size: 100%;
    margin-top: 7px;
    margin-left: 2px;
}