@import './colors';
@import './typography';

.header {
    min-height: 72px;
    background-color: $surface;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    // margin-bottom: 10px;
}

.logo {
    height: 32px;
    width: 166px;
    background: url('../img/logo.svg') no-repeat;
}

.cart {
    position: relative;
    height: 32px;
    width: 32px;
    background: url('../img/shopping-cart.svg') no-repeat;
    background-size: 100%;
}

.purchase-cnt {
    position: absolute;
    background-color: $primary;
    padding: 2px;
    color: $onPrimary;
    min-width: 16px;
    border-radius: 7px;
    top: -4px;
    left: 19px;
    line-height: 1;
    text-align: center;
    font-size: 12px;
}

.total {
    color: $onSurface;
    margin-right: 20px;
}

.total-amount {
    width: 70px;
    &::before {
        content: '€';
    }
}
