@import './colors';
@import './typography';

select {
    outline: none;
    cursor: pointer;
    background: $surface;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    height: 40px;
    max-width: 25%;
    color: $onSurface;
    border: 1px solid $secondary;
    border-radius: 4px;
 }

input[type="search"] {
    outline: none;
    background: $surface;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    height: 40px;
    min-width: 50%;
    color: $onSurface;
    border: 1px solid $secondary;
    border-radius: 4px;
}

.active-view > svg > rect {
    stroke: $primary;
}

.view {
    cursor: pointer;
}

.product-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $onSurface;
    height: 120px;
    background: $surface;
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    &.in-cart {
        box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
    }
}

.item-img-wrapper {
    height: 100px;
    width: 120px;
    min-width: 60px;
    max-width: 20vw;
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.item-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-item-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.product-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100px;
    width: 45vw;
    max-width: 60vw;
}

.product-title {
    font-size: 14px;
    font-weight: 700;
    height: 21px;
    overflow: hidden;
}

.product-description {
    font-size: 12px;
    overflow-y: auto;
    max-height: 66%;
}

.product-price {
    font-size: 12px;
    font-weight: 700;
    margin-top: auto;
    &::before {
        content: "€";
    }
}

.products-button {
    max-width: 20vw;
}

.big-scale > .product-item {
    display: flex;

}

.found {
    font-weight: 700;
}

.sort {
    width: min(55vw, 11rem);
}