@import './colors';
@import './typography';

.slider {
    position: relative;
    & > * {
        line-height: 1;
    }
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
}

input[type='range'] {
    position: absolute;
    // width: 100%;
    cursor: pointer;
    outline: none;    
}
input[type='range']::-webkit-slider-runnable-track {
    // width: 100%;
    border-radius: 2px;
    height: 4px;
    background-color: $light;
}
input[type='range']::-webkit-slider-thumb {
    background: $secondary;
    border: 1px solid $surface;
    border-radius: 50%;
    box-shadow: 2px 4px 8px rgba(112, 192, 91, 0.2);
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: -10px;
    z-index: 2;
    &:nth-child(1)::-webkit-slider-thumb {
        z-index: 2;
    }
}

.slider-title {
    font-weight: 700;
}

.slider-track {
    position: absolute;
    height: 4px;
    width: 100%;
    background: $secondary;
    z-index: 1;
}

.price::before {
    content: '€';
}
